/* Custom */
.btn-default {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #444;
}

.btn-xs {
  padding: .125rem .25rem;
  font-size: .75rem;
  line-height: 1.5;
  border-radius: .15rem;
}

.dt-buttons,
.dataTables_length, 
.dataTables_info {
  float: left;
}

.dataTables_filter, 
.dataTables_paginate {
  float: right;
}

.dataTables_length, 
.dataTables_filter {
  margin-top: 0.5em;
}

.dataTables_paginate, 
.dataTables_info {
  margin-bottom: 0.5em;
}

.dataTables_processing {
  position: absolute;
  top: 20em!important;
  z-index: 9999;
}

.dropdown-menu-lg{
  min-width: 600px;
  max-width: 600px;
}